#experience{
	max-width: 95vw;
	height: 65vh;
    margin: auto;
	display: flex;
	justify-content: center;
    align-items: center;
    flex-direction: column;
	border-radius: 8px;
}

.experience-title{
	font-family: 'Poppins', sans-serif;
	font-size: 64px;
	margin-bottom: 36px;
}

.cards-experience{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

@media (max-width: 1400px){
	#experience{
		height: 85vh;
	}
	.cards-experience{
		grid-template-columns: 1fr;
	}
}

@media (max-width: 1144px){
	#experience{
		height: 1200px;
	}
}

@media (max-width: 793px){
	#experience{
		height: 820px;
	}
	.services-tittle{
		font-size: 48px;
		margin-bottom: 64px;
	}	
}