#contact-box{
    width: 80vw;
    height: 680px;
    background-color: var(--color-fondo);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2em;
    margin: auto;
    margin-top: 36px;
    margin-bottom: 36px;
}

.contact-me{
    font-size: 64px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
}

.contacts{
    width: 340px;
    height: 80px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 400px;

}
.whatsapp, .mail{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
}

.fullname, .your-email, .your-message{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.input-email, .input-name{
    border: none;
    width: 320px;
    height: 30px;
    padding: 10px;
    font-size: 14px;
    outline: none;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
}

.send-message{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.info{
    display: flex;
    flex-direction: row;
}

.name, .email{
    display: flex;
    flex-direction: column;
    margin: 18px;
}

.your-textarea{
    width: 680px;
    height: 180px;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

#button-submit{
    width: 220px;
	height: 40px;
	border: none;
    margin-top: 18px;
    font-weight: bold;
	color: #111;
	background: #fff;
	cursor: pointer;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s ease-in-out;
    border-radius: 50px;
    letter-spacing: 3px;
}

#button-submit:hover{
    background-color: var(--color-principal);
    border: 3px solid #fff;
    color: #fff;
}


.interested-text{
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: center;
}
.whatsappIcon, .gmailIcon{
    font-size: 28px;
    color: #fff;
}

.swal-title, .swal-text{
    font-family: 'Poppins', sans-serif;;
}

.anchor-whatsapp{
    color: white;
    font-style: none;
    display: flex;
    align-items: center;
}

@media (max-width: 968px){
    #contact-box{
        position: absolute;
        width: 100%;
        border-radius: 0;
    }
    .contact-me{
        font-size: 42px;
    }
    .interested-text{
        font-size: 16px;
    }
    .contacts{
        flex-direction: column;
    }
    .whatsapp, .mail{
        font-size: 14px;
    }
    .info{
        flex-direction: column;
    }
    .your-textarea{
        width: 320px;
        height: 240px;
    }    
}