#skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tittle-skills{
    font-size: 28px;
    display: flex;
    text-align: center;
}

.technologies{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.frontend{
    margin: 0 28px 28px 28px
}

.backend{
    margin: 28px;
}

.technology-tittle{
    color: #fff;
    display: flex;
    justify-content: center;
    margin: 18px;
    font-family: 'Poppins', sans-serif;
}
.frontend-logos, .backend-logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


@media (max-width: 768px){
    .tittle-skills{
        font-size: 18px;
    }
}