@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,700;1,700&family=Roboto:wght@300&display=swap');

*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	--color-principal: #50C4ED;
	--color-fondo: #272829;
}
html{
	background-color: #111;
	scroll-behavior: smooth;
}
span{
	color: var(--color-principal);
}

h1{
	color: var(--color-principal);
    font-family: 'Poppins', sans-serif;
}