.slider-container {
  height: 100%;
  position: relative;
  /* Centrado del contenido */
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-arrow,
.left-arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 20px;
  width: 2vw;
  height: 4vh;
  color: #fff;
  z-index: 1;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3); /* Fondo semitransparente */
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  transition: background-color 0.3s;
}

.right-arrow:hover,
.left-arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.right-arrow {
  right: 32px;
}

.left-arrow {
  left: 32px;
}

.slide {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-position: center;
  background-size:cover;
  transition: background-image 0.5s ease-in-out;
}

/* Contenedor de los puntitos */
.dots-container {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 3%;
}

.dot {
  margin: 0 3px;
  cursor: pointer;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.active-dot {
  color: #fff; /* Color blanco brillante para el activo */
}

